<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>
        MAPS
    </title>

	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<!-- <link rel="icon" href="{{ url_for('static', filename='assets/img/logo_dcktrp.png') }}"  type="image/x-icon"/> -->

	<!-- Fonts and icons -->
	

	<!-- CSS Files -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" > -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}
	{% endblock stylesheets %}

</head>
<body>
	{% block content %}{% endblock content %}

	{% include 'script.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>